[submodule "extensions/sd-webui-lobe-theme"]
	path = extensions/sd-webui-lobe-theme
	url = https://github.com/lobehub/sd-webui-lobe-theme.git
[submodule "extensions/adetailer"]
	path = extensions/adetailer
	url = https://github.com/Bing-su/adetailer.git
[submodule "extensions/sd-civitai-browser-plus"]
	path = extensions/sd-civitai-browser-plus
	url = https://github.com/BlafKing/sd-civitai-browser-plus.git
[submodule "extensions/sd-extension-system-info"]
	path = extensions/sd-extension-system-info
	url = https://github.com/vladmandic/sd-extension-system-info.git
[submodule "extensions/sd-webui-bmab"]
	path = extensions/sd-webui-bmab
	url = https://github.com/portu-sim/sd-webui-bmab.git
[submodule "extensions/sd-webui-infinite-image-browsing"]
	path = extensions/sd-webui-infinite-image-browsing
	url = https://github.com/zanllp/sd-webui-infinite-image-browsing.git
[submodule "extensions/stable-diffusion-webui-images-browser"]
	path = extensions/stable-diffusion-webui-images-browser
	url = https://github.com/AlUlkesh/stable-diffusion-webui-images-browser.git
